body{font-family:'cherry_swashregular';font-size:12px;}

/* page title */
.title{width:980px;margin:0 auto;background-color:#000000;padding:5px 0;text-align:center;}
.title h1 {color:#ffffff;font-weight:normal;font-size:16px;line-height:20px;}


.wrapper {clear:both;width:958px;padding:0 10px 20px 10px;margin:0 auto;min-height:100px;overflow:hidden;
border:1px solid #000000;}
.uploader {float:left;width:100%;}
.content {float:left;width:100%;height:auto;padding-top:20px;}

/*** first step: upload an image ***/
#big_uploader {float:left;width:100%;padding:20px 0 20px 0;position:relative;border-bottom:1px dotted #000000;}
#big_uploader h3 {line-height:24px;float:left;padding:0 30px 0 0;width:auto}
#upload_big {float:left;width:auto;height:24px;}
#notice {float:left;line-height:24px;
font-size:12px;color:#000000;padding:0 20px;}
input.inputSubmit {display:block;float:left;clear:left;padding:4px 6px;line-height:20px;
width:auto;text-align:center;font-size:12px;cursor:pointer;font-family:'cherry_swashregular';
background:#07134A;color:#ffffff;border:none;outline:none;}
#upload_big input.inputSubmit {clear:none;display:none;margin-left:20px;}
#upload_thumb {float:left;clear:left;padding:0;display:none;}
.uploadThumbWrapper {float:left;clear:left;height:auto;padding:10px 0 0 0;}
#notice2 {float:left;line-height:24px;
font-size:12px;color:#000000;padding:10px 0 0 20px;}
.notice {display:none;}

/*** styling the input type=file ***/
.fileWrapper {float:left; width:104px; height:24px;position:relative;
overflow:hidden;}
.fileWrapper input.fileInput {height:24px;position:absolute;
top:0;right:0;opacity:0;filter:alpha(opacity=0);cursor:pointer;}
a.fileButton {display:block;float:left;padding:2px 4px;line-height:20px;
width:96px;height:20px;text-align:center;font-size:12px;cursor:pointer;
background:#07134A;color:#ffffff;}
.fileWrapper:hover a.fileButton {background-color:#2F3A69;}

/* the uploaded big image */
#uploaded{float:left;width:auto;padding-bottom:20px;}
#div_upload_big {float:left;clear:left;width:auto;padding:0px;}
#div_upload_big img {float:left;clear:left;display:block;}

/* Preview window */
.previewWindow {float:left;padding:0 0 0 50px;}
.previewWrapper {float:left;clear:left;}
#preview {display:none;float:left;clear:both;position:relative;overflow:hidden;}
#preview img {position:absolute;left:0;top:0;}

/* generated thumbnail */
#thumbnail {float:left;clear:both;padding-top:20px;width:100%;border-top:1px dotted #000000;}
#div_upload_thumb,#details {float:left;clear:both;}
#div_upload_thumb {padding-bottom:20px;position:relative;}
#div_upload_thumb img {float:left;clear:left;display:block;}
.thumbWrapper {float:left;}
.detailWrapper {float:left;padding-left:50px;width:400px;}

/* set borders */
#div_upload_big,#preview,
#div_upload_thumb img {border:1px solid #000000;}

/* Headlines */
.content h3 {float:left;width:100%;padding-bottom:10px;}

/* Upload errors */
.uperror{padding:0 10px;background-color:#C66;color:#FFF;line-height:24px;}

/* thumb details */
#details input {border:1px solid #000000;}
#details table td {padding-bottom:5px;}

/* hidden iframe */
#upload_target {display:none;float:left;clear:left;width:100%;height:400px;border:1px solid #ccc;}

/* mobile selection */
.mobileSelection {display:none; float:left; clear:both; padding-bottom:15px;}
.mobileSelection a {display:block; float:left; width:auto; line-height:20px; font-size:12px; color:#ffffff;
height:20px; background:#000000; margin-right:10px; text-align:center; padding:5px 10px; cursor:pointer;}